{# css library which this twig file refers #}

{{ attach_library('weather/weather_lab') }}

{#
/**
 * @file
 * custom block.
 * Available variables:
 * - city: provide city name.
 * - description: provide decription of city.
 * - temp_min: provide minimum temperature of city.
 * - temp_max: provide maximum temperature of city.
 * - pressure: provide pressure of city.
 * - humidity: provide humidity of city.
 * - wind: provide wind of city.
 */
#}


<div class="myblocks" style="background-image: url('{{ file_url(image) }}');">
  <h3>{{ city }}</h3>
  <div class="mydescription">
    <h3>{{ description }}</h3>
  </div>
</div>


<div class="blockwrapper">
  <div class="blockchild">
    minTemp {{ temp_min }}
  </div>
  <div class="blockchild">
    maxTemp {{ temp_max }}
  </div>
  <div class="blockchild">
    pressure {{ pressure }}
  </div>
  <div class="withoutborder">
    humidity {{ humidity }}
  </div>
</div>