{# css library which this twig file refers #}

{{ attach_library('weather/weather_lab') }}

{#
/**
 * @file
 * custom block.
 * Available variables:
 * - city: provide city name.
 * - description: provide decription of city.
 * - temp_min: provide minimum temperature of city.
 * - temp_max: provide maximum temperature of city.
 * - pressure: provide pressure of city.
 * - humidity: provide humidity of city.
 * - wind: provide wind of city.
 */
#}


  <div class="myblocks" style="background-image: url('{{ file_url(image) }}');">
    <div class="city">
           <img src="modules/custom/weather/images/pic.png" alt="Smiley face" height="70" width="70">

         <h3>{{ city }}</h3>    
    </div>

     <div class="mydescription">
        <h3>{{ description }}</h3>
    </div>
</div>


 <div class="blockwrapper">
    <div class="blockchild">
            min temp<h4> {{ temp_min }}</h4>
    </div>
    <div class="blockchild">
            max temp<h4> {{ temp_max }}</h4>
    </div>
    <div class="blockchild">
            pressure<h4> {{ pressure }}</h4>
    </div>
    <div class="withoutborder">
            humidity<h4> {{ humidity }}</h4>
    </div>

 </div>